@import "../../components/variables.module.scss";

.icon-button {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .button-container {
        .icon-button {
            font-size: 1em;
            color: #fff;
        }

        span {
            display: none;
        }
    }
}

.icon-button.border {
    padding: 5px;
    border: 1px solid #8a8a8a;
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icon-button.background-red {
    padding: 5px;
    border: 1px solid #8a8a8a;
    background-color: rgb(148, 1, 1);
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
