@import "../../components/variables.module.scss";

.modal-button {
    border: none;
    background: red;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: rgb(160, 20, 20);
    position: absolute;
    right:5px;
    top:5px;
    &:hover {
        background: #f2f2f2;
    }
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-button {
            font-size: 25px;
            color: #fff;
            margin-right: 10px;
        }
        span {
            font-size: 12px;
            font-weight: 700;
            vertical-align: middle;
        }
    }
}
