@import "../../components/variables.module.scss";

.primary-button {
    padding: 5px;
    background-color: rgb(80, 112, 219);
    border-radius: 3px;
    border-color: transparent;
    color: #fff;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-button {
            font-size: 25px;
            color: #fff;
            margin-right: 10px;
        }

        span {
            font-size: 12px;
            font-weight: 700;
            vertical-align: middle;
        }
    }
}
