.primary-button {
    padding: 5px;
    margin-top: 15px;
    background-color: rgb(80, 112, 219);
    border-radius: 5px;
    border-color: transparent;
    color: #fff;

    span {
        font-size: 13px;
        font-weight: 700;
        vertical-align: middle;
        margin-right: 5px;
    }

}
