@import "../../../components/variables.module.scss";


.signup-main-container {
    width: 100vw;
    height: calc(auto - #{$topbar-height});
    background-color: blue;
    display:flex;
    flex-direction: column;
    .signup-then-login-container{
        color: #fff;
        display: flex;
        align-items: center;
        width:auto;
        background-color:green;
        gap:15px;

    }
    
    .signup-form-container {
        width:100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color:cyan;
        display:flex;
        align-items: center;
        flex-direction: column ;
        justify-content: center;
    }
}

@media all and (max-width: $max-width-device) {
    
}
