@import "../../../components/variables.module.scss";

.signup-input-verification-container {
    background-color: #8a8a8a;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    height:calc( 100vh - 125px ) ;

    .signup-verification-input-description-container {
        background-color: gold;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .signup-verification-code-container {
        background-color: silver;
        display: flex;
        flex-direction: column;
        padding: 15px;

        label {
            display: flex;
            flex-direction: column;
            gap:15px;
        }

        .signup-verification-code-input {
            background-color:red;
        }

        .signup-verification-code-buttons {
            background-color: green;
            display: flex;
            gap: 35px;
        }
    }
}

@media all and (max-width: $max-width-device) {
    .signup-input-verification-container {
        background-color: #8a8a8a;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 80%;
        height:calc( 100vh - 125px ) ;
    
        .signup-verification-input-description-container {
            background-color: gold;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .signup-verification-code-container {
            background-color: silver;
            display: flex;
            flex-direction: column;
            padding: 15px;
    
            label {
                display: flex;
                flex-direction: column;
                gap:15px;
            }
    
            .signup-verification-code-input {
                background-color:red;
            }
    
            .signup-verification-code-buttons {
                background-color: green;
                display: flex;
                gap: 35px;
            }
        }
    }
}