@import "../../components/variables.module.scss";

.dashboard-main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: $topbar-height calc(100vh - #{$topbar-height});
  grid-template-areas:
    "topbar topbar"
    "sidebar main";

  .sidebar-dashboard-container {
    grid-area: sidebar;
    // position:fixed;
  }

  .topbar-dashboard-container {
    grid-area: topbar;
    // position:fixed;
  }

  .userprofile-dashboard-container {
    grid-area: main;
    overflow: auto;
    padding: 25px;
  }
}

@media all and (max-width: $max-width-device) {
  
}
