@import "../../components/variables.module.scss";

.home-main-container {
    display: grid;
    /* Error al usar variable para 240px --> $sidebar-width calc(100vw - 240px)*/
    grid-template-columns: auto 1fr;
    grid-template-rows: $topbar-height calc(100vh - #{$topbar-height});
    grid-template-areas:
        "topbar topbar"
        "sidebar main";

    .sidebar-home-container {
        grid-area: sidebar;
    }

    .topbar-home-container {
        grid-area: topbar;
    }

    .userprofile-home-container {
        grid-area: main;
        overflow: scroll;
        padding: 15px;
        
    }
}
