@import "../../../components/variables.module.scss";

.resultlesson-main-container {
  box-shadow:
  rgba(9, 30, 66, 0.25) 0 1px 1px,
  rgba(9, 30, 66, 0.13) 0 0 1px 1px;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;

  .resultlesson-content-container {
    display: flex;
    flex-direction: column;

    .resultlesson-content {
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 35px;

      .resultlesson-general-data-container {
        border-radius: 3px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        height: 88vh;

        .resultlesson-general-data-greetings {
          display: flex;
          align-items: center;

          .resultlesson-general-data-greetings-information {
            display: flex;
            flex-direction: column;
            width: 50%;

            .resutlesson-gdgi-congratulation {
              display: flex;
              flex-direction: column;
              gap: 55px;
              align-items: center;
              justify-content: center;
              height: 100%;

              div {
                display: flex;
                flex-direction: column;
                align-items: center;
              }

              span {
                font-weight: 800;
                font-size: 4.5em;
              }
            }
          }

          .resultlesson-general-data-greetins-image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 50%;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }

        .resultlesson-general-data-list {
          padding: 15px;

          ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;

            li {
              padding: 5px;
              box-shadow:
              rgba(9, 30, 66, 0.25) 0 1px 1px,
              rgba(9, 30, 66, 0.13) 0 0 1px 1px;
              border-radius: 3px;

              .resultlesson-general-data-list-item {
                font-size: 0.68em;
                display: flex;

                .resultlesson-general-data-li-img {
                  display: flex;
                  align-items: center;
                }

                .resultlesson-general-data-text {
                  display: inline-flex;
                  flex-direction: column;
                  padding: 3px;
                  justify-content: flex-start;
                  align-items: center;

                  :nth-child(1) {
                    color: #000000;
                  }

                  :nth-child(2) {
                    font-size: 2.6em;
                    font-weight: 400;
                  }
                }
              }
            }
          }

          .resultlesson-gdli-icon {
            border-radius: 50%;
            background-color: rgb(228, 217, 217);
            padding: 15px;
            height: 25px;
            width: 25px;
          }
        }
      }

      .questionResult-main-container {
        display: flex;
        flex-direction: column;
        box-shadow:
        rgba(9, 30, 66, 0.25) 0 1px 1px,
        rgba(9, 30, 66, 0.13) 0 0 1px 1px;
        border-radius: 3px;
        padding: 25px;
        gap: 35px;

        .questionresult-list-container {
          ul {
            list-style: none;

            li {
              .questionResult-list-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-bottom: 0.5px solid rgb(235, 231, 231);
                padding-top: 25px;
                padding-bottom: 25px;
                opacity: 0.7;
                user-select: none;
                pointer-events: none;
                gap: 15px;

                .questionsolved {
                  flex-grow: 1;
                  width: 100%;
                }

                .questionResult-points-span {
                  width: 140px;
                }

                ul {
                  padding-left: 2em;
                  flex: 1;

                  .valid-li {
                    list-style: url("../../../assets/images/valid.svg");
                  }

                  .invalid-li {
                    list-style: url("../../../assets/images/invalid.svg");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: $max-width-device) {
  .resultlesson-main-container {
    box-shadow:
      rgba(9, 30, 66, 0.25) 0 1px 1px,
      rgba(9, 30, 66, 0.13) 0 0 1px 1px;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;

    .resultlesson-content-container {
      display: flex;
      flex-direction: column;

      .resultlesson-content {
        .resultlesson-general-data-container {
          height: auto;

          .resultlesson-general-data-greetings {
            flex-direction: column;

            .resultlesson-general-data-greetings-information {
              flex-direction: column;
              width: 100%;

              .resutlesson-gdgi-congratulation {
                gap: 35px;
              }
            }

            .resultlesson-general-data-greetins-image {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 50%;

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
