@import "../../components/variables.module.scss";

.forum-main-container {
  height: 100%;
  width: 100%;

  .forum-content-container {
    display: flex;
    gap: 20px;
    height: 100%;
  }

  .forum-search-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 3px;
    background-color: #fff;

    h1 {
      color: #fff;
      padding: 15px;
      background-color: $title-background-black;
      text-align: center;
      border-radius: 3px 3px 0 0;
    }

    .form-search-criteria {
      h1 {
        color: #fff;
        padding: 15px;
        background-color: $title-background-black;
        text-align: center;
      }

      .form-search-input {
        display: flex;
        align-items: center;
        padding: 15px 15px 0px 15px;
        gap: 15px;

        .form-search-container-input {
          display: flex;
          align-items: center;
          flex: 1;
        }

        input {
          margin: 0px 0px 0px 10px;
        }

        div:nth-child(2) {
          height: 37px;
        }
      }

      .form-search-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 15px;
      }
    }

    .forum-discussion-list-container {
      border-radius: 0px 0px 3px 3px;
      padding: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .forum-discussion-list {
        display: flex;
        flex-direction: column;
        height: 100%;

        .forum-create-button-panel {
          padding: 15px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 15px;

          span {
            flex: 1;
          }
        }

        ul {
          border: 1px solid rgb(173, 172, 172);
          box-shadow: rgba(134, 133, 133, 0.178) 0px 4px 4px 4px inset;
          border-radius: 3px;
          overflow-y: auto;
          height: 0px;
          flex-grow: 1;
          list-style: none;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          background-color: $ul-content-background;

          .forum-discussion-list-no-records {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .forum-discussion-content {
    flex-grow: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 3px;
    background-color: #fff;

    .not-found-discussion {
      flex-direction: row;
      align-content: center;
      align-items: center;
      align-self: center;

      h3 {
        padding-top: 35px;
        padding-bottom: 35px;
      }

      img {
        width: 100%;
        height: 40%;
      }
    }
  }
}

@media all and (max-width: $max-width-device) {
  .forum-main-container {
    height: auto;
    width: 100%;

    .forum-content-container {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .forum-search-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      .forum-discussion-list-container {
        height: auto;
        overflow: auto;

        .forum-discussion-list {
          display: flex;
          flex-direction: column;
          height: auto;

          ul {
            overflow-y: auto;
            height: 80px;
            flex-grow: 1;
          }
        }
      }
    }

    .forum-discussion-content {
      flex-grow: 0;
      height: auto;
      width: 100%;
      overflow-y: auto;

      .not-found-discussion {
        flex-direction: row;
        align-content: center;
        align-items: center;
        align-self: center;

        img {
          width: 100%;
          height: 40%;
        }
      }
    }
  }
}
