@import "../../components/variables.module.scss";

.forum-main-container {
    padding: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: #f3f1f1;
    .forum-content-container {
        display: flex;
        padding: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        border-radius: 3px;
        gap: 5px;
    }

    .forum-search-container {
        display: flex;
        width: 40%;
        flex-direction: column;
        padding: 15px;
        overflow-y: scroll;
        .form-search-criteria {
            border-radius: 3px 3px 0px 0px;
            border: 1px solid rgb(133, 133, 133);

            h1 {
                color: #fff;
                padding: 15px;
                border-radius: 3px 3px 0px 0px;
                background-color: $title-background-black;
                text-align: center;
            }

            .form-search-input {
                display: flex;
                align-items: center;
                padding: 15px;
                gap: 15px;
                .form-search-container-input {
                    display: flex;
                    align-items: center;
                    flex: 1;
                }

                div:nth-child(2) {
                    height: 37px;
                }
            }
            .form-search-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                padding: 15px;
            }
        }

        .forum-discussion-list-container {
            border-radius: 0px 0px 3px 3px;
            border: 1px solid rgb(133, 133, 133);
            .forum-discussion-list {
                display: flex;
                flex-direction: column;

                h1 {
                    color: #fff;
                    padding: 15px;
                    background-color: $title-background-black;
                    text-align: center;
                }

                .forum-create-button-panel {
                    padding: 15px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 15px;
                    span {
                        flex: 1;
                    }
                }

                ul {
                    list-style: none;
                    box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 4px 4px inset;

                    li {
                        padding: 15px;
                    }
                }
            }
        }
    }

    .forum-discussion-container {
        height: calc(100% - 30px);
        width: 60%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        border: 1px solid rgb(133, 133, 133);

        h1 {
            color: #fff;
            padding: 15px;
            background-color: $title-background-black;
            border-radius:3px;
            text-align: center;
        }

        .forum-discussion-user-data-container {
            padding: 20px;
            width: calc(100% - 40px);
            display: flex;
            gap: 15px;
            align-items: center;
            .forum-discussion-data {
                display: inline-flex;
                flex-direction: column;
                flex: 1;
                word-wrap: break-word;
                span {
                    text-overflow: ellipsis;
                    display: block;
                }
            }

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: $userprofile-background-gradient;
                border: $userprofile-border-style;
            }
        }

        .forum-discussion-description-container {
            padding: 0px 15px 15px 15px;
            gap: 10px;
            width: calc(100% - 30px);
            text-align: justify;
            display: flex;
            flex-direction: column;
        }

        .forum-discussion-forum-button-panel-container {
            display: flex;
            justify-content: flex-end;
            gap: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #7a7878;
            h2 {
                flex:1;
            }
        }

        .forum-discussion-forum-comments-container {
            ul {
                list-style: none;
            }
        }
    }
}
