@import "../../components/variables.module.scss";

.userprofile-main-container {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    background-color: #f3f1f1;

    .userprofile-details-main-container {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        display: flex;
        box-shadow:rgba(0,0,0,0.25) 0px 0.0625em 0.0625em, rgba(0,0,0,0.25) 0px 0.125em 0.5em, rgba(255,255,255,0.1) 0px 0px 0px 1px inset;
        border-radius:3px;
        padding:15px;
        .userprofile-user-details-container {
            box-shadow:rgba(0,0,0,0.16) 0px 3px 6px, rgba(0,0,0,0.23) 0px 3px 6px;
            border-radius:3px;
            display: flex;
            width: 235px;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            overflow-y: scroll;
            .userprofile-user-photo-container {
                display: flex;
                justify-content: center;
                padding-top: 15px;
                img {
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                    border: $userprofile-border-style;
                    background: $userprofile-background-gradient;
                }
            }

            .userprofile-separator-container {
                display: inline-flex;
                flex-direction: column;
                gap: 15px;
                overflow-wrap: break-word;
                .userprofile-basic-details {
                    display: flex;
                    width: 200px;
                    height: auto;
                    gap: 15px;
                    flex-direction: column;
                    text-align: left;
                    div {
                        display: flex;
                        flex-direction: column;
                        :nth-child(1) {
                            font-size: 10px;
                            color: #868686;
                        }
                    }
                }
                hr {
                    width: 90%;
                    height: 1px;
                    background-color: rgb(127, 127, 143);
                    border: 0;
                    margin: auto;
                }
            }
        }

        .userprofile-user-data-container {
            padding-left: 25px;
            width: calc(100% - 200px);
            overflow-y: scroll;

            .userprofile-account-container {
                display: flex;
                .userprofile-account-information {
                    display: flex;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    flex-direction: column;
                    width: 90%;
                    p {
                        font-size: 12px;
                        color: #868686;
                    }
                }

                .userprofile-account-status-information {
                    width: auto;
                    display: flex;
                    align-items: center;
                }
            }

            .userprofile-button-panel {
                padding: 20px;
                display:flex;
                background-color:#ecebeb;
                flex-direction: column;
                gap:25px;
                div {
                    display: flex;
                    justify-content: center;
                    gap: 25px;
                }
            }

            .userprofile-ranking-information-container {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left:20px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                div {
                    :first-child {
                        font-weight: 600;
                    }
                }
            }

            .userprofile-forum-data-container {
                border-top: 1px solid rgb(180, 180, 180);
                margin-right: 15px;
                box-shadow:rgba(0, 0, 0, 0.178) 0px 4px 4px 4px inset;

            }

            .userprofile-forum-data-container--tabs {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                background-color:rgb(212, 212, 212);
                .userprofile-forum-data-tab {
                    padding: 8px;
                    box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    color: #000;
                    font-size:13px;
                    transition: background-color 0.25s;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.25);
                        transition: background-color 0.25s;
                    }
                }

                .tabs--active {
                    border-bottom:3px solid rgb(4, 134, 255);
                    pointer-events: none;
                }
            }

            .content {
                display: none;
                padding: 3em;
                text-align: center;
            }

            .content--active {
                display: block;
            }
        }
    }
}

.type-user-admin {
    box-shadow:#00000040 0px 0.06525em 0.0625em, rgba(0,0,0,0.25) 0px 0.125em 0.5em, rgba(255,255,255,0.1) 0px 0px 0px 1px inset;
    background-color: #130358;
    color:#fff;
    display: inline-block;
    padding: 15px;
    border-radius:3px;
}

.type-user-free {
    background-color: #f9f9f9;
    display: inline-block;
    padding: 15px;
}

.status-user-banned {
    background-color: #f9f9f9;
    display: inline-block;
    padding: 6px;
}

.status-user-free {
    display: inline-block;
    border-radius:3px;
    padding: 6px;
}
