@import "../../../components/variables.module.scss";

.accountsmenu-main-container {
    .accountsmenu-content {
        .accountsmenu-search-criteria {
            border-radius: 3px 3px 0px 0px;
            border: 1px solid rgb(133, 133, 133);

            h1 {
                color: #fff;
                padding: 15px;
                border-radius: 3px 3px 0px 0px;
                background-color: $title-background-black;
                text-align: center;
            }

            .form-search-input {
                display: flex;
                align-items: center;
                padding: 15px;
                gap: 15px;
                .form-search-container-input {
                    display: flex;
                    align-items: center;
                    flex: 1;
                }

                div:nth-child(2) {
                    height: 37px;
                }
            }
            .form-search-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                padding: 15px;
            }
        }

        .accountsmenu-reports-list-container {
            border-left: 1px solid rgb(133, 133, 133);
            border-right: 1px solid rgb(133, 133, 133);
            border-bottom: 1px solid rgb(133, 133, 133);
            height:50vh;
            overflow-y:scroll;
            .accountsmenu-discussion-list {
                display: flex;
                flex-direction: column;
                ul {
                    list-style: none;
                    box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 4px 4px inset;
                    li {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }
                }
            }
        }

        .accountsmenu-button-panel {
            display:flex;
            justify-content: flex-end;
            padding-top:15px;
            padding-bottom:15px;
        }
    }
}
