.report-container {
    background-color: rgb(233, 232, 232);
    border: 1px solid #ccc;
    display: flex;
    padding: 10px;
    border-radius: 3px;
    .report-numeration-container {
        color: #000;
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        .black-text {
            font-size: 10px;
            color: #000;
            font-weight: 600;
        }
    }

    .report-data-container {
        border-radius: 3px 3px 0px 0px;
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        .report-reported-by-container {
            border-radius: 3px 3px 0px 0px;
            background-color: #a8a7a7;
            padding: 5px;
            div {
                :nth-child(1) {
                    color: #000;
                    font-weight: 600;
                }
            }
        }

        .report-descripction-container {
            border-radius: 0px 0px 3px 3px;
            background-color: #fff;
            padding: 15px;
            display:flex;
            flex-direction: column;
            gap:15px;
            div{
                display:flex;
                flex-direction: column;
            }
        }
    }
}
