.report-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  display: flex;
  padding: 10px;
  border-radius: 3px;

  .report-numeration-container {
    color: #000;
    width: 15%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .black-text {
      font-size: 10px;
      color: #000;
      font-weight: 600;
    }

    .report-numeration-container-panel-button {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .report-data-container {
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1;
    height: 0%;

    .report-reported-by-container {
      border-radius: 3px 3px 0 0;
      background-color: #cec1c1;
      padding: 5px;
      display: inline-flex;
      gap: 10px;
      align-items: center;

      .report-reported-by-user-datas {
        word-wrap: break-word;
        text-align: start;
      }

      .report-reported-by-reason {
        display: inline-block;
        word-wrap: break-word;
        text-align: start;
      }

      .report-reported-by-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        font-size: 1.5em;
      }
    }

    .report-reported-by-container:hover {
      background-color: rgb(171, 170, 172);
    }

    .report-descripction-container {
      border-radius: 0 0 3px 3px;
      padding: 10px;
      display: inline-flex;
      height: 100%;
      flex-direction: column;
      gap: 15px;

      div {
        display: flex;
        flex-direction: column;
      }
    }
    
    .report-descripction-container.hidden {
      display: none;
      padding: 0;
      height: 0;
    }
  }
}
