@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$max-width-device:920px;

$sidebar-width: 240px;
$sidebar-height: 100% ;
$sidebar-background-color: #363F64;

$topbar-height: 65px;
$topbar-width: 100%;
$topbar-logo-background-color: #00493f;
$topbar-background-color: $topbar-logo-background-color;

$footer-height: 60vh;
$footer-width: 100vw;
$footer-background-color:#fff;


:export {
    sidebar-width: $sidebar-width;
    sidebar-height: $sidebar-height;
    sidebar-background-color: $sidebar-background-color;

    topbar-logo-background-color: $topbar-logo-background-color;
    topbar-height: $topbar-height;
    topbar-width: $topbar-width;
    topbar-background-color: $topbar-background-color;
    footer-background-color:$footer-background-color;
}
