@import "../../variables.module.scss";

.userreports-main-container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius:0 0 3px 3px;

    .userreports-data-container {
        padding: 25px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow-y: scroll;

        .userreports-image-background {
            border: 1px solid #8a8a8a;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 31%, rgb(202, 202, 202) 89%);
            display: flex;
            justify-content: center;
            img {
                height: 40%;
                width: 15%;
            }
        }

        p {
            text-align: justify;
        }

        .userreports-list-container {
            box-shadow: rgba(0, 0, 0, 0.178) 0px 4px 4px 4px inset;
            background-color: #fff;
            border-radius: 3px;
            flex: 1;
            padding: 15px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 15px;

                li {
                }
            }
        }
    }
}
