@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

sidebar {
    --sidebar-width:260px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top:0;
    left:0;
    background:#11101d;
    height: 100%;
    width: 260px;
}

.sidebar .logo-details {
    height:62px;
    width:100%;
    display:flex;
    align-items:center;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(44, 40, 40);
}

.sidebar .logo-details .center {
    margin:0 auto;
    align-items: center;
    display:flex;
}

.sidebar .logo-details .center .sidebarIcon {
    font-size: 30px;
    color:#fff;
    height:40px;
    min-width: 48px;
    line-height: 50px;
}

.sidebar .logo-details .center .logo_name {
    font-size: 22px;
    color:#fff;
    font-weight:bold;
}

.sidebar .toggle-button-container {
    margin-top:15px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.sidebar .toggle-button-container .toggle-button {
    background-color: transparent;
    border:0;
}

.sidebar .toggle-button-container .toggle-button .sidebarIconToggle {
    font-size: 30px;
    color:#fff;
}

.sidebar .nav-links {
    height:100%;
    padding-top:10px;
}

.sidebar .nav-links .button-section {
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin-bottom:15px;
}

.sidebar .nav-links .sidebarButton {
    padding: 10px;
    background-color: rgb(80, 112, 219);
    border-radius: 5px;
    border-color: transparent;
    color:#fff;
    display: flex;
    align-items: center;
}

.sidebar .nav-links .sidebarButton .sidebarIcon {
    color:#fff;
    font-size: 20px;
    margin-right:5px;
}

.sidebar .nav-links .sidebarHr {
    width:90%;
    height: 1px;
    background-color: rgb(53, 53, 61);
    border:0;
    margin:auto;
}

.sidebar .nav-links li {
    position:relative;
    list-style:none;
    padding:12px;
    transition: all 0.3s ease;
}

.sidebar .nav-links li:hover {
    background:#24223d;
}

.sidebar .nav-links li .sidebarIcon {
    height:25px;
    min-width:78px;
    text-align: center;
    line-height: 50px;
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}

.sidebar .nav-links li .linkto {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li .linkto .sidebarListItemText {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.help-details {
    position: fixed;
    width: 260px;
    bottom:0;
}

.help-details .sidebarIcon {
    height:30px;
    min-width:78px;
    text-align: center;
    line-height: 50px;
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}

.help-details .nav-help {
    display: flex;
    justify-content: center;
    padding:5px;
    margin-bottom: 15px;
}

.help-details .nav-help li {
    list-style:none;
    position:relative;
}

.help-details .nav-help li .linkto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.help-details .nav-help li .sidebarIcon {
    height:20px;
    min-width:28px;
    text-align: center;
    color: rgb(163, 170, 228);
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;

}

.help-details .nav-help li .linkto .sidebarListItemText {
    font-size: 15px;
    font-weight: 400;
    color: rgb(163, 170, 228);
}

.home-section {
    position:relative;
    background:red;
    left:260px;
    width: calc(100% - 260px);
}

.home-section .home-content {
    height: 60px;
    display:flex;
    align-items: center;
}

.home-section .home-content .sidebarIconMenu {
    color:#fff;
    font-size: 50px;
}

.home-section .home-content .text{
    color:#fff;
    font-size: 20px;
    font-weight: 600;
}



