@import "../variables.module.scss";

.sidebar {
    background-color: $sidebar-background-color;
    height: 100%;
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;

    .sidebar-toggle-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .sidebar-toggle-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            background-color:transparent;
            .sidebarIconToggle {
                font-size: 30px;
                color: #fff;
            }
        }
    }

    ul {
        height: inherit;

        .sidebar-button-section {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .sidebarHr {
            width: 90%;
            height: 1px;
            background-color: rgb(127, 127, 143);
            border: 0;
            margin: auto;
        }

        li {
            list-style: none;
            width: 100%;
            .sidebarIcon {
                text-align: center;
                color: #fff;
                text-decoration: none;
                font-size: 20px;
            }

            .sidebar-link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;
                padding: 15px;
                text-decoration: none;
            }

            .sidebar-link span {
                font-size: 15px;
                font-weight: 400;
                color: #fff;
            }
        }

        li:hover {
            background: #24223d;
        }
    }

    .sidebar-help-details {
        bottom: 0;
        .sidebarIcon {
            height: 30px;
            text-align: center;
            line-height: 50px;
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }

        .sidebar-nav-help {
            display: flex;
            justify-content: center;
            padding: 5px;

            li {
                list-style: none;
                position: relative;

                .sidebar-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                }

                .sidebarIcon {
                    height: 20px;
                    min-width: 28px;
                    text-align: center;
                    color: rgb(163, 170, 228);
                    text-decoration: none;
                    font-size: 20px;
                    margin-right: 5px;
                }

                .sidebar-link li {
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(163, 170, 228);
                }
            }
        }
    }
}

.sidebar.active {
    width: 60px;

    ul {
        height: inherit;
        .sidebar-button-section {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        li {
            .sidebar-link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;
                padding: 15px;
            }

            .sidebar-link span {
                display: none;
            }
        }
    }

}
