.emailcontent-main-container {
  width: 100%;
  height: 100%;
  color: rgb(94, 90, 90);
  font-size: 0.78em;
  font-weight: 400;

  .emailcontent-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .emailcontent-message-headers {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 25px;
      padding: 5px;
      padding-bottom: 15px;

      .emailcontent-mh {
        display: flex;
        gap: 10px;

        span:first-child {
          display: flex;
          justify-content: flex-end;
          min-width: 60px;
        }
      }
    }

    .emailcontent-body {
      padding:35px;
      border-radius: 3px;
      border: 1px solid #d6d3d3;
      height: 100%;
    
      .emailcontent-b-content {
        color:rgb(78, 78, 83);
        display: flex;
        padding-left:15px;
        flex-direction: column;
        white-space: pre-wrap;
      }
    }
  }
}
