@import "../../../components/variables.module.scss";

.checkprogress-main-container {
    background-color: red;
    height: calc(100vh - 30px);
    width: calc(100% - 30px);
    display: flex;
    padding: 15px;
    .checkprogress-description-container {
        background-color: green;
        width: 45%;
        overflow-y: scroll;

        ul {
            list-style: none;
            padding: 15px;
            background-color: gray;
            display: inline-flex;
            flex-direction: column;
            gap: 25px;
            li {
                background-color: blue;
                padding: 15px;
                border-radius: 15px;
                .checkprogress-progress-container {
                    background-color: lightyellow;
                }

                .checkprogress-presentation-up-side-container {
                    background-color: magenta;
                    display: flex;

                    .checkprogress-side-text {
                        background-color: maroon;
                        padding:10px;
                        h1 {
                            font-size: 15px;
                        }
                        span {
                            text-align: justify;
                        }
                    }

                    .checkprogress-side-img {
                        background-color: yellowgreen;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 85px;
                            height: 85px;
                        }
                    }

                    .checkprogress-user-value {
                        background-color: blueviolet;
                        width: auto;
                        height: 1fr;
                        padding: 5px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        span {
                            padding:15px;
                            background-color:green;
                        }
                    }
                }

                .checkprogress-presentaiton-down-side-container {
                    background-color: green;
                }
            }
        }
    }

    .checkprogress-display-graphic-container {
        width: calc(55% - 30px);
        background-color: yellow;
        display:flex;
        flex-direction: column;
        align-content: center;
        padding:15px;
        gap:15px;
        text-align: center;
        .checkprogress-graphic-container {
            background-color:blue;
            height:70%;
            width:100%;
            img {
                width:100%;
                height:100%;
            }
        }

        .checkprogress-button-panel {
            background-color:green;
            height:42px;
        }


    }
}
